<div class="section">
	<table class="form">
	  <tr>
	    <th><%= form.label :upload %></th>
	    <td><%= form.file_field :upload %></td>
	  </tr>
	  <tr>
	    <th><%= form.label :caption %></th>
	    <td><%= form.text_area :caption %></td>
	  </tr>
	</table>
</div>
